@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="str" class="display-4 orange-text"></h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0yBnIUX0QAE" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
    <p>Created by Victorino Palacio.</p>
</div>
